<div class="comment-box">
  <%= form_with(model: [@document,@comment], local:true) do |f| %>
    <form>
      <%= f.text_area :text,  class:"comment-text" %>

      <%= f.submit 'コメントする',class:"comment-btn" do %>
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
      <% end %>
    </form>
  <% end %>
</div>

<div class="comment-list">
  <div class='title-content'>
    <h2>コメント一覧</h2>
  </div>
  <div class="comment-user">
      <div class="chat-space">
        <div class="comment-space", id ='comments'></div>
      </div>
    <div class="comment-area">
      <div class="image-space">
        <% @document.comments.reverse_each do |comment| %>
      </div>
      <div class="chat-space">
         <% if @document.user.image.present? %>
            <%= image_tag comment.user.image, class:"comment-image" %>
         <% else %>
            <%= image_tag "no_image.png", class:"comment-image" %>
         <% end %>
        <div class="comment-space">
          <%= comment.user.department.name %>
          <%= comment.user.family_name %>
          <br>
          <%= comment.created_at.strftime('%Y/%m/%d') %>
        </div>
      </div>
      <div class="comment-chat">
        <%= comment.text %>
        <% end %>
      </div>
    </div>   
  </div>
</div>