<%= render "shared/second-header" %>

<div class='form-header'>
  <h1 class='form-header-text'>
    ユーザーリスト
  </h1>
  <h2 class='form-search-text'>
  ユーザー検索
  </h2>
</div>

<div class="user-lists">
  <table class="user-info">
  <tr>
    <th class='user-title'>名前</th>
    <th class='user-title'>ニックネーム</th>
    <th class='user-title'>担当</th>
    <th class='user-title'>プロフィール</th>
  </tr>
  <tbody>
  <% @user.each do |user| %>
  <tr>
    <td class='user-contents'><%= user.family_name%> <%= user.first_name%></td>
    <td class='user-contents'><%= user.nickname%></td>
    <td class='user-contents'><%= user.department.name %></td>
    <td class='user-contents'><%= link_to "表示", "/users/#{user.id}" %></td>
  </tr>
  <% end %>
  </tbody>
  </table>
</div>