<%= render "shared/header" %>


<div class='form-header'>
  <h1 class='form-header-text'>
    <%= @user.nickname %>のプロフィール
  </h1>
</div>

<div class="wrapper">
  <div class="side_bar">
    <%= render "shared/side_bar" %>
  </div>

  <div class="user-show-main">
    <div class="user-group">
        <div class="user-img">
          <% if @user.image.present? %>
            <%= image_tag @user.image, class:"user-image-show" %>
          <% else %>
            <%= image_tag "no_image.png", class:"user-image-show" %>
          <% end %>
        </div>

        <table>
        <tr>
          <th class="user-text-wrap">ニックネーム</th><td class="user-content"><%= @user.nickname %></td>

        <tr>
          <th class="user-text-wrap">メールアドレス</th><td class="user-content"><%= @user.email %></td>
        </tr>

        <tr>
          <th class="user-text-wrap">名前(読み)</th><td class="user-content"><%= @user.family_name %> <%= @user.first_name %>（<%= @user.family_name_kana %> <%= @user.first_name_kana %>）</td>
        </tr>

        <tr>
          <th class="user-text-wrap">担当</th><td class="user-content"><%= @user.department.name %></td>
        </tr>

        <tr>
          <th class="user-text-wrap">生年月日</th><td class="user-content"><%= @user.birthday %></td>
        </tr>

        <tr>
          <th class="user-text-wrap">出身地</th><td class="user-content"><%= @user.prefecture.name %></td>
        </tr>

        <tr>
          <th class="user-text-wrap">趣味</th><td class="user-content"><%= @user.hobby %></td>
        </tr>

        <tr>
          <th class="user-text-wrap">自由欄</th><td class="user-content"><%= simple_format(@user.free) %></td>
        </tr>

        </table> 
    </div>
  </div>
</div>

<%= render "shared/footer.second" %>