<header class='top-page-header'>
  <div class="top-header">
    <%= link_to "work log", root_path, class:"top-link"%>
  </div>
  
  <div class='nav'>
    <ul class='lists-right'>
    <% if user_signed_in? %>
      <li><%= link_to current_user.nickname, user_path(current_user), class: "user-link" %></li>
      <li>
        <% if unchecked_notifications.any? %>
        <i class="fa fa-circle" style="color: gold;"></i>
        <% end %>
        <li>
          <%= link_to "通知", notifications_path, class: "btn-default" %>
        </li>
      </li>
      <li><%= link_to "ユーザーリスト", users_path, class: "user-link" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "user-link" %></li>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "user-link" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "user-link" %></li>
      <li><%= link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, class: "user-link", method: :post%> </li>
      <li><%= link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, class: "user-link", method: :post%> </li>   
    <% end %> 
    </ul>
  </div>
</header>