<%= render "shared/header" %>
<div class='main'>

  <div class='title-content'>
    <h1>投稿一覧</h1>
  </div>

   <div class='search-bar-contents'>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag "book.png", class:"search-icon" %>
      </button>
    </form>
  </div>  

  <div class='document-lists'>
      <table class='document-info'>
       <thead>
          <tr>
            <th class='info-title'>標題</th>
            <th class='info-title'>投稿者</th>
            <th class='info-title'>日付</th>
            <th class='info-title'>表示</td>
          </tr>
       </thead>
            <% @documents.each do |document| %>
        <tbody>
          <tr>    
            <td class='info-content'><%= document.title %></td>
            <td class='info-content'><%= document.user.nickname %></td>
            <td class='info-content'><%= document.created_at.strftime('%Y/%m/%d') %></td>
            <td class='info-content'><%= link_to "表示", document_path(document.id) %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    
  </div>

 

  <%= link_to new_document_path do %>
  <div class='document-btn'>
   <span class='document-btn-text'>新規作成</span>
     <%= image_tag 'report.png' , size: '50x80' ,class:"document-btn-icon" %>
  </div>
  <% end %>


</div>