<%= render "shared/header" %>
<div class='main'>

  <div class='form-header'>
  <h1 class='form-header-text'>投稿一覧</h1>
  </div>
  
  <%= render "shared/search" %>

  <div class='document-lists'>
      <table class='document-info'>
       <thead>
          <tr>
            <th class='info-title'>標題</th>
            <th class='info-title'>タグ</th>
            <th class='info-title'>投稿者</th>
            <th class='info-title-day'>日付</th>
          </tr>
       </thead>
        <% @documents.each do |document| %>
        <tbody>
          <tr>    
            <td class='info-content'><%= link_to document.title, document_path(document.id) %></td>
            <td class='info-content'>
            <ul class="tag">
              <li class="tag-list">
                <% document.tags.each do |tag| %>
                  #<%= tag.name %><% end %>
              </li>
            </ul>
            </td>
            <td class='info-content'><%= document.user.family_name %></td>
            <td class='info-content-day'><%= document.create_day.strftime('%Y/%m/%d') %></td>
        <% end %>
          </tr>
        </tbody>
      </table>
    
  </div>

  <%= link_to new_document_path do %>
  <div class='document-btn'>
   <span class='document-btn-text'>新規作成</span>
     <%= image_tag 'report.png' , size: '50x80' ,class:"document-btn-icon" %>
  </div>
  <% end %>


</div>

<%= render "shared/footer" %>