<%= render "shared/header" %>

<div class="documents-create-main">

  <div class="new-document-detail">
    <h2 class="name">
      <%= @document.title %>
    </h2>
  </div>

  <div class='detail-table'>
      <table class='detail-document'>
        <tr>
          <th class="detail-contents-title">内容</th>
          <th class="detail-contents"><%= @document.content %></th>
        </tr>
        <tr>
          <th class="detail-title">投稿日</th>
          <th class="detail-content"><%= @document.created_at.strftime('%Y/%m/%d') %></th>
        </tr>
        <tr>
          <th class="detail-title">担当</th>
          <th class="detail-content"><%= @document.user.department.name %></th>
        </tr>   
          <th class="detail-title">投稿者</th>
          <th class="detail-content"><%= @document.user.first_name %><%= @document.user.family_name %></th>
        </tr>  
        <tr>
          <th class="detail-title">期限</th>
          <th class="detail-content"><%= @document.deadline %></th>
        </tr>
        <% if user_signed_in? && current_user.id == @document.user.id %>
        <tr>
          <th class='detail-title'>管理者</th>
          <th class='detail-content-edit'><%= link_to "編集", edit_document_path(@document.id) %><%= link_to "削除", document_path(@document.id), method: :delete %></th>
        </tr>
        <% end %>
      </table>  
  </div>


  <div class="comment-box">
  <%= form_with(model: [@document,@comment], local:true) do |f| %>
    <form>
      <%= f.text_area :text,  class:"comment-text" %>

      <%= f.submit 'コメントする',class:"comment-btn" do %>
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
      <% end %>
    </form>
  <% end %>
  </div>

<div class="comment-list">
    <div class='title-content'>
      <h2>コメント一覧</h2>
    </div>
    <table class="comment-box1">
    <thead>
        <tr>
          <th>投稿者</th>
          <th>内容</th>
        </tr>
    </thead>
    <tbody>
        <div id ='comments'>
          <% @document.comments.reverse_each do |comment| %>
        <tr>
        <td><%= comment.user.nickname %></td>
          <td><%= comment.text %></td>
          <% end %>
          </div>
    </tbody>
    </table>
  </div>


<%= render "shared/footer" %>