<%= render "shared/header" %>

 <%= render "shared/search" %>

<div class="documents-create-main">

  <div class="new-document-detail">
    <h2 class="name">
      <%= @document.title %>
    </h2>
  </div>

  <div class='detail-table'>
    <table class='detail-document'>
      <tr>
        <th class="detail-contents-title">内容</th>
        <th class="detail-contents"><%= simple_format(@document.content) %></th>
      </tr>
      <tr>
        <th class="detail-title">タグ</th>
        <th class="detail-content">
          <ul class="tag">
          <li class="tag-list">
            <% @document.tags.each do |tag| %>
              #<%= tag.name %>
            <%end%>
          </li>
        </ul></th>
      </tr>
      <tr>
        <th class="detail-title">投稿日</th>
        <th class="detail-content"><%= @document.create_day.strftime('%Y/%m/%d') %></th>
      </tr>
      <tr>
        <th class="detail-title">担当</th>
        <th class="detail-content"><%= @document.user.department.name %></th>
      </tr>   
        <th class="detail-title">投稿者</th>
          <th class="detail-content"><%= @document.user.family_name %> <%= @document.user.first_name %> 
          <% if @document.user.image.present? %>
            <%= image_tag @document.user.image, class:"user-image-document" %>
          <% else %>
            <%= image_tag "no_image.png", class:"user-image-document" %>
          <% end %>
        </th>
      </tr>  
      <tr>
        <th class="detail-title">期限</th>
        <th class="detail-content"><%= @document.deadline %></th>
      </tr>
      <% if user_signed_in? && current_user.id == @document.user.id %>
      <tr>
        <th class='detail-title'></th>
        <th class='detail-content-edit'><%= link_to "編集", edit_document_path(@document.id), method: :get %><%= link_to "削除", document_path(@document.id), method: :delete %></th>
      </tr>
      <% end %>
    </table>  
  </div>
   <%= render 'marks/mark' %>
</div>
<%= render "comments/comment" %>
