<%= render "shared/header" %>

<div class="documents-create-main">

  <div class="new-document-detail">
    <h2 class="name">
      <%= @document.title %>
    </h2>
  </div>

  <div class='detail-table'>
    <table class='detail-document'>
      <tr>
        <th class="detail-contents-title">内容</th>
        <th class="detail-contents"><%= @document.content %></th>
      </tr>
      <tr>
        <th class="detail-title">タグ</th>
        <th class="detail-content">
          <ul class="tag">
          <li class="tag-list">
            <% @document.tags.each do |tag| %>
              #<%= tag.name %>
            <%end%>
          </li>
        </ul></th>
      </tr>
      <tr>
        <th class="detail-title">投稿日</th>
        <th class="detail-content"><%= @document.created_at.strftime('%Y/%m/%d') %></th>
      </tr>
      <tr>
        <th class="detail-title">担当</th>
        <th class="detail-content"><%= @document.user.department.name %></th>
      </tr>   
        <th class="detail-title">投稿者</th>
        <th class="detail-content"><%= @document.user.nickname %>  (<%= @document.user.family_name %><%= @document.user.first_name %>)</th>
      </tr>  
      <tr>
        <th class="detail-title">期限</th>
        <th class="detail-content"><%= @document.deadline %></th>
      </tr>
      <% if user_signed_in? && current_user.id == @document.user.id %>
      <tr>
        <th class='detail-title'>管理者</th>
        <th class='detail-content-edit'><%= link_to "編集", edit_document_path(@document.id) %><%= link_to "削除", document_path(@document.id), method: :delete %></th>
      </tr>
      <% end %>
    </table>  
  </div>
   <%= render 'marks/mark' %>
</div>
<%= render "comments/comment" %>

<%= render "shared/footer.second" %>